<!-- Copyright 2017 Carlos Alfaro -->
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="Shortcut Icon" type="image/x-icon" href="./assets/icons/favicon.ico" />
	<link rel="stylesheet" href="css/style.css">
	<title>CATALOGO</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')</script>
	<script src="js/material.min.js"></script>
	<script src="js/main.js"></script>
</head>
<body>
	<nav class="full-width NavBar">
		<div class="full-width NavBar-logo text-tittles text-center">
			<figure>
				<img src="assets/img/logo.png" alt="MaterialTemplate" class="img-responsive">
			</figure>
		</div>
		<ul class="full-width list-unstyled NavBar-nav">
			<li><a href="index.html">Inicio</a></li>
			<li><a href="catalogo.html">Catalogo</a></li>
			<li><a href="contacto.html">PQR</a></li>
			<li><a href="tutorials.html">Login</a></li>
		</ul>
		<i class="zmdi zmdi-more-vert visible-on-phone btn-menu-mobile"></i>
	</nav>
	<section class="full-width" style="padding: 70px 0;">
		<h3 class="text-center text-tittles">Aparatos ortopedicos</h3>
		<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
			<div class="mdl-tabs__tab-bar">
				<a href="#web" class="mdl-tabs__tab is-active">Sillas de ruedas</a>
				<a href="#admin" class="mdl-tabs__tab">Muletas</a>
				<a href="#system" class="mdl-tabs__tab">Vendas</a>
			</div>
			<!-- Plantillas Web -->
			<div class="mdl-tabs__panel is-active" id="web">
				<h3 class="text-center text-tittles">SILLAS DE RUEDAS</h3>
				<div class="mdl-grid">
					<div class="mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-cell--4-col-desktop">
						<article class="full-width template">
							<figure class="full-width template-img">
								<img src="assets/img/SILLA1.jpg" alt="Template" class="img-responsive">
							</figure>
							<div class="full-width template-description">
								<p class="full-width text-condensed">
									<strong>Silla de ruedas TME</strong><br>
									<small>Silla de ruedas edicion especial TME</small>
								</p>
								<a href="#!" class="full-width">
									<i class="zmdi zmdi-eye"></i>
								</a>
							</div>
						</article>
					</div>
					<div class="mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-cell--4-col-desktop">
						<article class="full-width template">
							<figure class="full-width template-img">
								<img src="assets/img/SILLA2.jpg" alt="Template" class="img-responsive">
							</figure>
							<div class="full-width template-description">
								<p class="full-width text-condensed">
									<strong>Silla de rueda premium</strong><br>
									<small>Silla de ruedas premium de la marca Kaloi</small>
								</p>
								<a href="#!" class="full-width">
									<i class="zmdi zmdi-eye"></i>
								</a>
							</div>
						</article>
					</div>
					<div class="mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-cell--4-col-desktop">
						<article class="full-width template">
							<figure class="full-width template-img">
								<img src="assets/img/SILLA3.jpg" alt="Template" class="img-responsive">
							</figure>
							<div class="full-width template-description">
								<p class="full-width text-condensed">
									<strong>Silla de ruedas basica</strong><br>
									<small>Silla de ruedas basica de la marca TME</small>
								</p>
								<a href="#!" class="full-width">
									<i class="zmdi zmdi-eye"></i>
								</a>
							</div>
						</article>
					</div>
				</div>
			</div>
			<!-- Plantillas Admin -->
			<div class="mdl-tabs__panel" id="admin">
				<h3 class="text-center text-tittles">Muletas</h3>
				<div class="mdl-grid">
					<div class="mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-cell--4-col-desktop">
						<article class="full-width template">
							<figure class="full-width template-img">
								<img src="assets/img/muleta3.png" alt="Template" class="img-responsive">
							</figure>
							<div class="full-width template-description">
								<p class="full-width text-condensed">
									<strong>Muletas de aluminio drive</strong><br>
									<small>Muletas drive de aluminio de la marca locatel</small>
								</p>
								<a href="#!" class="full-width">
									<i class="zmdi zmdi-eye"></i>
								</a>
							</div>
						</article>
					</div>
					<div class="mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-cell--4-col-desktop">
						<article class="full-width template">
							<figure class="full-width template-img">
								<img src="assets/img/muleta2.png" alt="Template" class="img-responsive">
							</figure>
							<div class="full-width template-description">
								<p class="full-width text-condensed">
									<strong>Muleta de aluminio plenia</strong><br>
									<small>Muleta de aluminio plenia de la talla M</small>
								</p>
								<a href="#!" class="full-width">
									<i class="zmdi zmdi-eye"></i>
								</a>
							</div>
						</article>
					</div>
					<div class="mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-cell--4-col-desktop">
						<article class="full-width template">
							<figure class="full-width template-img">
								<img src="assets/img/muleta1.png" alt="Template" class="img-responsive">
							</figure>
							<div class="full-width template-description">
								<p class="full-width text-condensed">
									<strong>Muletas antebrazo</strong><br>
									<small>Muletas antebrazo drive de acero </small>
								</p>
								<a href="#!" class="full-width">
									<i class="zmdi zmdi-eye"></i>
								</a>
							</div>
						</article>
					</div>
				</div>
			</div>
			<!-- Sistemas Web -->
			<div class="mdl-tabs__panel" id="system">
				<h3 class="text-center text-tittles">Vendas</h3>
				<div class="mdl-grid">
					<div class="mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-cell--4-col-desktop">
						<article class="full-width template">
							<figure class="full-width template-img">
								<img src="assets/img/Venda.jpg" alt="Template" class="img-responsive">
							</figure>
							<div class="full-width template-description">
								<p class="full-width text-condensed">
									<strong>Venda Elastica 5 pulgadas</strong><br>
									<small>Venda Elastica 5 pulgadas por 5 yardas x 12 paquete</small>
								</p>
								<a href="#!" class="full-width">
									<i class="zmdi zmdi-eye"></i>
								</a>
							</div>
						</article>
					</div>
					<div class="mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-cell--4-col-desktop">
						<article class="full-width template">
							<figure class="full-width template-img">
								<img src="assets/img/venda2.jpg" alt="Template" class="img-responsive">
							</figure>
							<div class="full-width template-description">
								<p class="full-width text-condensed">
									<strong>Venda atletismo</strong><br>
									<small>Venda atletismo para deportes de alto rendimiento</small>
								</p>
								<a href="#!" class="full-width">
									<i class="zmdi zmdi-eye"></i>
								</a>
							</div>
						</article>
					</div>
					<div class="mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-cell--4-col-desktop">
						<article class="full-width template">
							<figure class="full-width template-img">
								<img src="assets/img/venda3.jpg" alt="Template" class="img-responsive">
							</figure>
							<div class="full-width template-description">
								<p class="full-width text-condensed">
									<strong>Venda elastica Le Roy</strong><br>
									<small>Venda elastica marca Le Roy de diferentes tamaños</small>
								</p>
								<a href="#!" class="full-width">
									<i class="zmdi zmdi-eye"></i>
								</a>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div style="clear: both;"></div>
	<footer class="mdl-mega-footer">
		<div class="mdl-mega-footer__middle-section">
			<div class="mdl-mega-footer__drop-down-section">
				<h1 class="mdl-mega-footer__heading">Features</h1>
				<ul class="mdl-mega-footer__link-list">
					<li><a href="#">About</a></li>
					<li><a href="#">Terms</a></li>
					<li><a href="#">Partners</a></li>
					<li><a href="#">Updates</a></li>
				</ul>
			</div>
			<div class="mdl-mega-footer__drop-down-section">
				<h1 class="mdl-mega-footer__heading">Details</h1>
				<ul class="mdl-mega-footer__link-list">
					<li><a href="#">Specs</a></li>
					<li><a href="#">Tools</a></li>
					<li><a href="#">Resources</a></li>
				</ul>
			</div>
		    <div class="mdl-mega-footer__drop-down-section">
		      	<h1 class="mdl-mega-footer__heading"><i class="zmdi zmdi-share zmdi-hc-fw"></i> &nbsp; Redes Sociales</h1>
		      	<ul class="mdl-mega-footer__link-list">
		       		<li><a href="https://www.facebook.com/CarlosAlfaroES/" target="_blank"><i class="zmdi zmdi-facebook zmdi-hc-fw"></i> &nbsp; Facebook</a></li>
		        	<li><a href="https://twitter.com/007CarlosAlfaro" target="_blank"><i class="zmdi zmdi-twitter zmdi-hc-fw"></i> &nbsp; Twitter</a></li>
		        	<li><a href="https://www.youtube.com/c/CarlosAlfaro007" target="_blank"><i class="zmdi zmdi-youtube zmdi-hc-fw"></i> &nbsp; Youtube</a></li>
		      	</ul>
		    </div>
	  	</div>
		<div class="mdl-mega-footer__bottom-section">
			<div class="mdl-logo">&copy; Universidad Central</div>
			<ul class="mdl-mega-footer__link-list">
				<li><a href="#!">Ayuda</a></li>
				<li><a href="#!">Privacidad & Terminos</a></li>
			</ul>
		</div>
	</footer>
</body>
</html>